
@{
    ViewBag.Title = "RegisterConfirmation";
}

<h2>Register Confirmation</h2>
<div>
    <p>
        Thank you for Register with Us. Please check your email and activate your account within 24 hours.
    </p>
</div>
