<?xml version="1.0"?>
<connectionStrings>
  <add name="EasyRentalEntities" connectionString="metadata=res://*/EasyRental.csdl|res://*/EasyRental.ssdl|res://*/EasyRental.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5023.Smarterasp.net;initial catalog=DB_A0B186_easyrental;persist security info=True;user id=DB_A0B186_easyrental_admin;password=h0ngk0ng;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
